.App {
  text-align: center;
}

.App-header {
  background-color: #345069;
  height: 220px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-selected-series {
  margin-right: 20px;
}
.App-series-info {
  padding: 0 10px;
}

.App-series-selector {
}
